// Переменные
$fontFamily: Roboto;
$mainFontSize: 16;
$xlFontSize: 18;
$xxlFontSize: 30;

$maxWidth: 1920;
$minWidth: 280;
$maxWidthContainer: 1840;

//Z-Index
$zIndexLight: 10;
$zIndexNormal: 100;
$zIndexHight: 1000;

// Transition
$transitionLight: 0.3s;
$transitionNormal: 0.5s;
$transitionHight: 0.8s;

// Breakpoints
$xxl: 2048;
$xl: 1940;
$l: 1460;
$m: 1024;
$s: 780;
$xs: 520;
$xxs: 375;

// [COLORS]
// [white]

$color-main-text: #281040;
$color-white: #ffffff;
// [white]
$color-secondary: #1a1b22;
// [gray]

// [BUTTONS]

// [TEXT]

// [BURGER]
